# Include the json and casadi files under robots/
# recursive-include robotsmeco/robots *.json *.casadi
graft robotsmeco/robots
#global-exclude *.stl *.STL *.dae *.obj *.urdf .gitignore
global-exclude .gitignore

